In [3]:
print ("hi Class")

hi Class

In [4]:
high_schools = ["Hernanadez High School", "Figueroa High School","Wilson High School", "Wright High School"]

In [8]:
for school in high_schools:
    print (school)

Hernanadez High School
Figueroa High School
Wilson High School
Wright High School

In [10]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [25]:
for schools in high_school_types:
    print (school),(type)

Wright High School
Wright High School
Wright High School
Wright High School

In [26]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [27]:
import pandas as pd

In [28]:
school_series = pd.Series(high_schools)

In [29]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [30]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [33]:
for high_school in school_series:
    print (high_school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [38]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [39]:
school_df = pd.DataFrame(high_school_dicts)

In [40]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [58]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame(school_id),(school_name),(type_of_school)

In [60]:
print (school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [76]:
school_df

School ID                                        [0, 1, 2, 3, 4]
school_name    [Huang High School, Figueroa High School, Shel...
type            [District, District, Charter, District, Charter]
dtype: object

In [79]:
school_df.index

Index(['School ID', 'school_name', 'type'], dtype='object')

In [84]:
school_df.values

array([list([0, 1, 2, 3, 4]),
       list(['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School']),
       list(['District', 'District', 'Charter', 'District', 'Charter'])],
      dtype=object)

In [87]:
for high_school in school_series:
    print (high_school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School